!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/[if gt IE 8] <html class="no-js" >
/[if !IE] <html class="no-js" >
%head
  %title=t "title.#{params[:action]}"
  %meta{ :name => "description", :content => t( "meta.description.#{params[:action]}" ) }
  %meta{ :name => "keywords", :content => t( "meta.subject" ) }
  %meta{ :name => "robots", :content => "Index, Follow" }
  %meta{ :name => "author", :content => "jmjurado23" }
  %meta{ :name => "language", :content => "Spanish" }
  %meta{:content => "width=device-width", :name => "viewport"}
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %body
    .intro-header
      .container
        .col
          .col-lg-8
            %h1
              =t 'wanab.home.title'
            %h3
              =t 'wanab.home.subtitle'
        .col
          .col-lg-4
            .row
              %h2
                =t 'devise.passwords.forgot_title'
            .row
              = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
                = devise_error_messages!
                %div
                  = f.label :email
                  %br/
                  %div
                    = f.email_field :email, :autofocus => true, class: 'form-control'
                  %br/
                  %button.btn.btn-primary.margin-top.pull-right
                    =t 'devise.passwords.forgot_button'
              = render "devise/shared/links"
